<!-- Top navbar -->
<app-menu-top></app-menu-top>
<div class="row g-0">
  <div class="col-md-2 col-sm-0" style="padding: 0;">
    <!-- Left bar -->
    <app-menu-left *ngIf="!this.mobile"></app-menu-left>
  </div>
  <div class="col-md-10 col-sm-12 div-col-10-gl">
    <div style="text-align: center; margin-top: 25px;" >
      <h1>Mentions légales</h1>
    </div>
    <section id="inner-div">
      <div class="row">

        <div style="text-align: center;"><span><strong>En vigueur au 01/08/2021</strong></span></div>
        <div>
          <br>
          <span>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la</span><span> Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du</span><span> site <mark>"GlobalLive"</mark> les présentes mentions légales.</span><span> La connexion et la navigation sur le site <mark>"GlobalLive"</mark> par l’Utilisateur implique acceptation</span><span> intégrale et sans réserve des présentes mentions légales.</span><span> Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</span>
        </div>
        <div style="text-align: center;"><br><span><strong>ARTICLE 1 : L’éditeur</strong></span></div>
        <div>
          <br>
          <span>L’édition et la direction de la publication du site <mark>"GlobalLive"</mark> est assurée par <mark>le groupe du projet "validation titre epsi"</mark>, domiciliée <mark>EPSI BORDEAUX</mark>, dont le</span><span> numéro de téléphone est <mark>**********</mark>, et l'adresse e-mail <mark>thibaut.dalens@epsi.fr</mark>.</span>
        </div>
        <div style="text-align: center;"><br><span><strong>ARTICLE 2 : L’hébergeur</strong></span></div>
        <div><br><span>L'hébergeur du site <mark>"GlobalLive"</mark> est la Société <mark>Ionos</mark>, dont le siège social est situé au <mark>7 PL DE LA GARE, 57200 SARREGUEMINES</mark> , avec le numéro</span><span> de téléphone : <mark>0970 808 911</mark>.</span>
        </div>
        <div style="text-align: center;"><span><br><strong>ARTICLE 3 : Accès au site</strong></span></div>
        <div>
          <br>
          <span>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption</span><span> programmée ou non et pouvant découlant d’une nécessité de maintenance.</span><span> En cas de modification, interruption ou suspension des services le site <mark>"GlobalLive"</mark> ne saurait être tenu</span><span> responsable.</span>
        </div>
        <div style="text-align: center;"><br><span><strong>ARTICLE 4 : Collecte des données</strong></span></div>
        <div>
          <br>
          <span>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect</span><span> de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers</span><span> et aux libertés. Le site est déclaré à la CNIL sous le numéro <mark>**********</mark>.</span><span> En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit</span><span> d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur</span></div>
        <div><span>exerce ce droit :</span></div>
        <div><span>·</span><span> par mail à l'adresse email <mark>thibaut.dalens@epsi.fr</mark></span></div>
      </div>
        <div style="text-align: center;"><br><span><strong>ARTICLE 5 : Cookies</strong></span></div>
        <div>
          <br>
          <span>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement</span><span>sur son logiciel de navigation.</span><span> En naviguant sur le site, il les accepte.</span><span> Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des</span><span> informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce</span><span> cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</span>
        </div>
        <div style="text-align: center;"><br><span><strong>ARTICLE 6 : Propriété intellectuelle</strong></span></div>
        <div>
          <br>
          <span>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site</span><span> <mark>"GlobalLive"</mark>,  sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites</span><span> judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</span><span> Pour plus d’informations, se reporter aux CGU du site <mark>"GlobalLive"</mark> accessible à la rubrique« CGU »</span>
        </div>
    </section>
      </div>
  </div>
