<div class="footer-gl ">
  <footer class="footer bg-admin-gl">
    <div class="container">
      <div class="row g-0">
        <div class="col-sm-3">
          <div class="footer-widget">
            <h4 class="h4-footer-gl">INFOS</h4>
            <div  class="footer-widget-content">
              <a style="line-height: 2.825em;" href="mailto:thibaut.dalens@epsi.fr" class="contact-link red"> thibaut.dalens@epsi.fr</a>
              <div class="footer-social">
                <br>
                Copyright © 2021 GlobalLive. <br>All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-widget">
            <h4 class="h4-footer-gl">RESOURCES</h4>
            <div class="footer-widget-content">
              <div class="media">
                <div class="media-body">
                  <p class="p-rsrc-gl"><a (click)="goToPrivacyPolicy();">POLITIQUE DE CONFIDENTALITE</a></p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <p class="p-rsrc-gl"><a (click)="goToLegalNotices();">MENTIONS LEGALES </a></p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <p class="p-rsrc-gl"><a (click)="goToCgu();">CGU</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer-widget">
            <h4 class="h4-footer-gl">À PROPOS</h4>
            <div class="footer-widget-content">
              <div class="images-gellary">
                <p>Depuis le début du confinement lié à la pandémie de COVID‐19, de nombreux artistes et / ou professionnels poursuivent leur activité en proposant des lives diffusés sur les différentes plate‐formes de streaming ou les réseaux sociaux : Facebook, Instagram, Youtube, Zoom, Twitch, etc... Il peut s’agir de concerts, de conférences, de talk‐show ou d’entrainements sportifs par exemple.<br><br> GlobalLive recense ces différents événements live et toutes les informations utiles qui y sont liées.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
