@import '../../../styles/variables.scss';

.toolbar {
  justify-content: space-between;
  background-color: $toolbar-bg-color;
  box-shadow: 0 1px 15px 0 rgb(0 0 0 /20%);
  min-height: 64px;
}

.logo {
  justify-content: center;

  #logo-img {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 4px;
    margin-left: 5px;
  }
}

.back-icon{
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
}


.nav {
  align-items: center;
  min-height: 64px;
}


.nav-item {
  margin-top: 33px;
  margin-bottom: 12px;
  font-family: 'Roboto-Light', sans-serif;
  cursor: pointer;
  font-size: 12px;
  color: $txt-color;
  font-weight: lighter;
  text-decoration: none;
  flex: none;
  padding: 0px 18px 0px 19px;

  &.active {
    font-family: "Roboto-Bold", sans-serif;
    border-bottom: 2px solid $prim-color;
    padding: 0px 0px 0px 0px;
    margin-left: 18px;
    margin-right: 19px;
  }
}

.logout {
  cursor: pointer;
  align-items: center;
  font-size: 10px;
}

.rectangle{
  width: 1px;
  height: 16px;
  background-color: #ffe6f6;
  margin-top: 33px;
  margin-bottom: 12px;
}

.logo-logged-in{
  width: 105px;
}

.logo-logged-off{
  margin-top: 24px !important;;
  margin-bottom: 10px !important;;
  margin-left: auto !important;
  margin-right: auto !important;;
  display: block !important;;
}

.div-logo-logged-off{
  position:absolute;
  width:100%;
  height:100%
}
