<div class="row toolbar">
  <!-- *ngIf="this.isLoggedIn" -->
  <div class="col logo">
    <div [ngClass]="{'div-logo-logged-off': !this.isLoggedIn}" class="row">
      <!--<mat-icon class="icon" (click)="back()" [style.visibility]="showBack ? 'visible' : 'hidden'">arrow_back</mat-icon>-->
      <img *ngIf="this.isLoggedIn" (click)="back()" [style.visibility]="showBack ? 'visible' : 'hidden'" src="../../../assets/images/general/ic-back.svg" alt="back" class="back-icon"/>
      <img id="logo-img" [ngClass]="{'logo-logged-in': this.isLoggedIn, 'logo-logged-off': !this.isLoggedIn}" src="" />
    </div>
  </div>
  <div class="row nav mx-20 flex-grow-1" style="overflow-x: auto;">
    <a class="nav-item" routerLink="/#" routerLinkActive="active">{{ 'nav.menu1' | translate }}</a>
    <div class="rectangle"></div>
    <a class="nav-item" routerLink="#" routerLinkActive="active">{{ 'nav.menu2' | translate }}</a>
    <div class="rectangle"></div>
    <a class="nav-item" routerLink="#" routerLinkActive="active">{{ 'nav.menu3' | translate }}</a>
    <div class="rectangle"></div>
    <a class="nav-item" [ngClass]="{'active': rq.isActive || ra.isActive}"
      [matMenuTriggerFor]="menu">{{ 'nav.menu4.menu4-1' | translate }}
    </a>
    <div class="rectangle"></div>
    <mat-menu #menu class="nav-menu mt-10 ml-100">
      <a mat-menu-item
        routerLink="#" routerLinkActive="active"
        #rq="routerLinkActive">
        {{ 'nav.menu4.menu4-2' | translate }}
      </a>
      <a mat-menu-item
        routerLink="#" routerLinkActive="active"
        #ra="routerLinkActive">
        {{ 'nav.menu4.menu4-3' | translate }}

      </a>
    </mat-menu>
    <a class="nav-item" routerLink="#" routerLinkActive="active">{{ 'nav.menu5' | translate }}
    </a>
    <div class="rectangle"></div>
  </div>
  <div class="row icon logout" (click)="logout()" *ngIf="isLoggedIn">
    <span class="mr-10">{{ 'nav.logout' | translate }}</span>
    <mat-icon class="mr-10">logout</mat-icon>
  </div>
</div>
<div _ngcontent-chu-c88="" class="w-100 separator"></div>
