<!-- Basic table -->
<ng-template [ngIf]="!hasDragAndDrop">
<table mat-table [dataSource]="dataSource" class="w-100">
  <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader); let index = index;">
    <th mat-header-cell *matHeaderCellDef>
      <div class="header-div" style="position:relative;">
        {{ columnHeader[tableData] }}
        <a *ngIf="tableData !== 'action'" style="position:absolute; right:0px; bottom:-8px;">
          <img (click)="sortTable(index, tableData);" [src]="this.getPathIcon(index)" alt="tri-default" class="sort-icon"/>
        </a>
      </div>
    </th>
    <ng-container *ngIf="tableData !== 'action'">
      <td mat-cell *matCellDef="let element">{{ element[tableData] }}</td>
    </ng-container>
    <ng-container *ngIf="tableData === 'action'">
      <td mat-cell *matCellDef="let element">
          <a (click)="edit(element.id)">
            <img src="assets/images/table/edit.svg" alt="edit" class="icon"/>
          </a>
          <a (click)="delete(element.id)" class="ml-10">
            <img src="assets/images/table/trash.svg" alt="trash" class="icon"/>
          </a>
          <a *ngIf="hasDuplicate" (click)="duplicate(element.id)" class="ml-10">
            <img src="assets/images/table/duplicate.svg" alt="duplicate" class="icon"/>
          </a>
      </td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
  <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
</table>
</ng-template>

<!-- Drag & drop table -->
<ng-template [ngIf]="hasDragAndDrop">
  <table mat-table [dataSource]="dataSource" class="w-100"
         cdkDropList
         [cdkDropListData]="dataSource"
         (cdkDropListDropped)="drop($event)">
    <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader); let index = index;">
      <th mat-header-cell *matHeaderCellDef>
        <div class="header-div" style="position:relative;">
          {{ columnHeader[tableData] }}
          <a *ngIf="tableData !== 'action'" style="position:absolute; right:0px; bottom:-8px;">
            <img (click)="sortTable(index, tableData);" [src]="this.getPathIcon(index)" alt="tri-default" class="sort-icon"/>
          </a>
        </div>
      </th>
        <ng-container *ngIf="tableData !== 'action'">
          <td mat-cell *matCellDef="let element">
            <div class="drag-container">
                  <span class="drag-handle span-drag-handle">
                    <img src="../../../assets/images/table/poignee.svg" alt="poignee"/>
                  </span>
                  <span class="span-value">
                        {{ element[tableData]  }}
                  </span>
            </div>
          </td>
            </ng-container>
            <ng-container *ngIf="tableData === 'action'">
              <td mat-cell *matCellDef="let element">
                <a (click)="edit(element.id)">
                  <img src="assets/images/table/edit.svg" alt="edit" class="icon"/>
                </a>
                <a (click)="delete(element.id)" class="ml-10">
                  <img src="assets/images/table/trash.svg" alt="trash" class="icon"/>
                </a>
                <a *ngIf="hasDuplicate" (click)="duplicate(element.id)" class="ml-10">
                  <img src="assets/images/table/duplicate.svg" alt="duplicate" class="icon"/>
                </a>
              </td>
            </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);" cdkDrag [cdkDragData]="row"></tr>
    <div *cdkDragPlaceholder></div>
  </table>
</ng-template>

<ng-template [ngIf]="!hasDragAndDrop">
  <mat-paginator #paginator style-paginator showFirstLastButtons [length]="dataSource.data.length" [pageSize]="pageSize" [hidePageSize]="true">
</mat-paginator>

