@import 'variables';
@import 'themes';
@import 'shortcuts';

// *****   FONTS   *****

/* You can add general styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: $bg-color;
}

p {
  margin: 0
}

.error-msg {
  color: red;
  font-size: 12px;
}

%btn {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.29px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
.main-btn {
  @extend %btn;
  background-color: $prim-color;
  color: white;
  border: solid 1px rgb(255, 255, 255, 0) !important;  // erase material button border
}
.sec-btn {
  @extend %btn;
  background-color: white;
  color: $txt-color;
  border: solid 1px $txt-color !important;  // erase material button border
}

// *****   INPUT   *****
// *****   (with floating label)   *****
.stylized-input {
  height: 40px;
  border-radius: 5px;
  border: solid $input-bg-color;
  border-width: thin;
  padding: 12px 20px;
  box-sizing: border-box;
  color: $txt-color;
}

.stylized-input:focus {
  outline-color: $input-bg-color;
  // box-shadow: 0 0 10px $bg-color;
}

.stylized-input::placeholder {
  color: $input-ph-color;
}

.stylized-input-header {
  color: #863c70;
  font-size: 12px;
  font-weight: 500;
}

.floating-label {
  position: relative;
}

.floating-label > .stylized-input-header {
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 14px;
  color: $input-floating-color;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

.stylized-input:not(:placeholder-shown) ~ .stylized-input-header,
.stylized-input:focus ~ .stylized-input-header {
  top: -16px;
  left: 0px;
  font-size: 10px;
  font-weight: 500;
  color: $txt-color;
}
// *********************


.snack-error {
  background-color: #dc3545;
  color: white;
}
.snack-success {
  background-color: #28a745;
  color: white;
}
.snack-info {
  background-color: #17a2b8;
  color: white;
}

.icon {
  color: $txt-color;
  cursor: pointer;
}
.icon-btn {
  font-size: 20px;
}

// only use for mat-menu
.ml-100 {
  margin-left: 100px;
}
.mat-menu-item {
  color: $txt-color;
}
.mat-menu-item:hover {
  background-color: $hover-bg-color !important;
}


.edition-mx {
  margin-right: 15%;
  margin-left: 15%;
}

.main-mx {
  margin-right: 3%;
  margin-left: 3%;
}

.separator{
  height: 1px;
  background-color:grey;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: black !important;
}
