$prim-color: #000000 ;
$bg-color: #fafafa;
$txt-color: #000000 ;
$toolbar-bg-color: white;
$hover-bg-color: #ffe6f6;

$input-bg-color: #000000 ;
$input-ph-color: #000000 ;
$input-floating-color: #000000 ;


$bottombar-height: 76px;
