<!-- This is fake div in order to avoid scroll troubles-->
<div class="fake"></div>

<div class="row toolbar-bottom w-100">

  <div class="row w-100 mx-10 align-items-center">
    <div class="col" *ngIf="!isNew">
      <button mat-button class="sec-btn" type="button" (click)="delete()">
        <mat-icon class="icon-btn">delete</mat-icon>
        {{ "bottomBar.bottom1" | translate }}
      </button>
    </div>

    <div class="col mx-10" *ngIf="!isNew">
      <button mat-button class="sec-btn" type="button" (click)="duplicate()">
        <mat-icon class="icon-btn">content_copy</mat-icon>
        {{ "bottomBar.bottom2" | translate }}
      </button>
    </div>

    <div class="spacer"></div>

    <div class="row">
      <div class="col">
        <button mat-button class="sec-btn" type="button" (click)="cancel()">
          <mat-icon class="icon-btn">restore</mat-icon>
          {{ "bottomBar.bottom3" | translate }}
        </button>
      </div>

      <div class="col" class="ml-10">
        <button mat-button class="main-btn" type="submit" (click)="save()">
          <mat-icon class="icon-btn">done</mat-icon>
          {{ "bottomBar.bottom4" | translate }}
        </button>
      </div>
    </div>

  </div>

</div>
