@import '../../../../styles/variables.scss';

.toolbar-bottom {
  position: fixed;
  bottom: 0;
  height: $bottombar-height;
  box-shadow: 0 1px 15px 0 rgb(0 0 0 /20%);
  background-color: white;
}

.spacer {
  flex: 1;
}

.fake {
  height: calc(#{$bottombar-height} + 10px);
}
