<div class="signup-form">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <h2>Inscription</h2>
    <p>Remplissez le formulaire pour créer votre compte !</p>
    <hr>
    <div>
      <div class="form-group float-child">
        <input id="input-firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.firstName.errors }" placeholder="Prénom"/>
        <div *ngIf="submitted && fval.firstName.errors" class="invalid-feedback">
          <div *ngIf="fval.firstName.errors.required">Le prénom est requis</div>
        </div>
      </div>
      <div class="form-group float-child">
        <input id="input-lastName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.lastName.errors }" placeholder="Nom"/>
        <div *ngIf="submitted && fval.lastName.errors" class="invalid-feedback">
          <div *ngIf="fval.lastName.errors.required">Le nom est requis</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input id="input-email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Email"/>
      <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
        <div *ngIf="fval.email.errors.required">L'email est requis</div>
        <div *ngIf="fval.email.errors.email"><span id="span-mail-invalide">Entrez une adresse mail valide</span></div>
      </div>
    </div>
    <div class="form-group">
      <input id="input-password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Mot de passe"/>
      <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
        <div *ngIf="fval.password.errors.required">Le mot de passe est requis</div>
        <div *ngIf="fval.password.errors.minlength">Le mot de passe doit être d'au moins 6 caractères</div>
      </div>    </div>
    <div class="form-group">
      <input id="input-passwordConf" type="password" formControlName="confirmPassword" class="form-control" name="confirm_password" placeholder="Confirmation mot de passe" [ngClass]="{ 'is-invalid': submitted && fval.confirmPassword.errors }" required="required">
      <div *ngIf="submitted && fval.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="fval.confirmPassword.errors.required">Le mot de passe de confirmation est requis</div>
        <div *ngIf="fval.confirmPassword.errors.mustMatch">Les mots de passe ne correspondent pas</div>
      </div>
    </div>

    <!-- Form group genre -->
    <div class="form-group float-child">
        <label>Genre :</label><br><br>
        <div class="form-check form-check-inline" [ngClass]="{ 'is-invalid': submitted && fval.genre_id.errors }">
          <input id="input-radio-genre-1"  class="form-check-input" type="radio" formControlName="genre_id" value="1" >
          <label for="input-radio-genre-1" class="form-check-label">Femme</label>
        </div>
        <div class="form-check form-check-inline" [ngClass]="{ 'is-invalid': submitted && fval.genre_id.errors }">
          <input id="input-radio-genre-2"  class="form-check-input" type="radio" formControlName="genre_id" value="2" >
          <label for="input-radio-genre-2" class="form-check-label">Homme</label>
        </div>
        <!--<div class="form-check form-check-inline" [ngClass]="{ 'is-invalid': submitted && fval.profile.errors }">
          <input  class="form-check-input" type="radio" formControlName="genre" id="inlineRadioGenre3" value="3" >
          <label for="inlineRadioGenre3" class="form-check-label">Autre</label>
        </div>-->
        <div *ngIf="submitted && fval.genre_id.errors" class="invalid-feedback">
          <div *ngIf="fval.genre_id.errors.required">Veuillez préciser votre genre</div>
        </div>
    </div>

    <!-- Form group profile -->
    <div class="form-group float-child">
      <label>Profil d'utilisateur :</label><br><br>
      <div [style.display]="userProfile.id != 3 ? 'inline-block' : 'none'" style="min-height: 0px;" *ngFor="let userProfile of userProfilesRecord" class="form-check form-check-inline" [ngClass]="{ 'is-invalid': submitted && fval.profile_id.errors }">
        <div *ngIf="userProfile.id != 3">
          <input class="form-check-input" type="radio" formControlName="profile_id" id="input-radio-profile-{{userProfile.id}}" value="{{userProfile.id}}" >
          <label class="form-check-label" for="input-radio-profile-{{userProfile.id}}">{{userProfile.profile_name}}</label>
        </div>
      </div>
      <div *ngIf="submitted && fval.profile_id.errors" class="invalid-feedback">
        <div *ngIf="fval.profile_id.errors.required">Veuillez choisir un profil d'utilisateur</div>
      </div>
    </div>
    <!-- Form group Policy-->
    <div class="form-group">
      <div  [ngClass]="{ 'is-invalid': submitted && !cguAccepted }">
        <label class="checkbox-inline"><input id="input-chk-rgpd" (change)="changed($event)" type="checkbox" required="required"> En vous inscrivant, vous acceptez nos <a style="cursor:pointer;" (click)="goToCgu();">Conditions générales d'utilisation</a>. Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre<a style="cursor:pointer;" (click)="goToPrivacyPolicy();"> Politique de confidentialité.</a> (RGPD)</label>
        <div *ngIf="submitted && !cguAccepted" style="font-size: 0.875em;color:#dc3545;">
          <div *ngIf="!cguAccepted"><span id="rgpd-error-message"><br>Vous devez accepter les conditions générales d'utilisation ainsi que notre politique de confidentialité pour pouvoir vous enregistrer.</span></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button id="btn-submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        S'inscrire
      </button>
    </div>
  </form>
  <div class="hint-text">Vous possédez déjà un compte ? <a style="color:black" routerLink="/login">Se connecter ici</a></div>
</div>

