<div id="error-page">
  <div class="content">
    <h2 class="header" data-text="404">
      404
    </h2>
    <h4 data-text="">
      Opps! {{eventNotFound}}
    </h4>
    <p>
      Désolé, aucun événément ne correspond à votre recherche. Peut-être devriez vous revenir plus tard.
    </p>
    <div class="btns">
      <a style="cursor:pointer;" (click)="goToHome()">Revenir à l'accueil</a>
      <a style="cursor:pointer;" (click)="goToaddEvent()">Ajouter un événement</a>
    </div>
  </div>
</div>
